# When will I get my test results?

Companies usually take a some time to evaluate the results of the test. Please be patient, you will receive your test results soon. If you are still concerned, please reach out to the placement office \(only if your college uses Superset for placements\) of your college or the hiring team of the company whose job you have applied for.



