# When will I get my interview / test results?

Companies usually take a while to declare the results for interviews or tests. Please be patient while the companies are evaluating your interview/test. If you still have any concerns, and if your **college uses Superset for placements**, then in this case please reach out to the placement cell \(or the training and placement office\) of your college to get your queries regarding interviews and test results answered.

