# When will I get my interview / test results?

Companies usually take a while to declare the results for interviews or tests. Please be patient while the companies are evaluating your interview/test. If you still have any concerns, and if your **college uses Superset for placements**, please get in touch with your college's placement office.

