# When will I get my interview / test results?

Companies usually take a some time to evaluate the results of the test and interviews. Please be patient, you will receive your test or interview results soon. If you still think that there has been an issue, then please click on Contact Support below. Please mention the date of your interview/test if you are trying to contact us by clicking Contact Support.

