# When will I get my interview / test results?

reach out to placement cell 

