# When will I get my interview / test results?

Superset only provides a technology platform to employers to conduct the recruitment process virtually and has no control over the announcement of results.

Employers usually take up to three weeks to evaluate the results of the interviews and assessment tests.&#x20;

In case you think there is an issue, please contact the companies' HR or fresher hiring email address to get a resolution.
