# Where is my test result?

Companies usually take a some time to evaluate the results of the test. Please be patient, you will receive your test results soon. Please reach out to the company whose test you attended, if you are still concerned.

