# When will I get my test results?

Companies usually take a some time to evaluate the results of the test. Please be patient, you will receive your test results soon. Please be patient and the company will send you the test results. If you still think that there has been an issue, then please click on Contact Support below.

